<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/foods"></ion-back-button>
    </ion-buttons>
    <ion-title> Food Details</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onDelete()">
        <ion-icon name="trash" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-img [src]="LoadedFood.imageUrl"></ion-img>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h1>{{LoadedFood.title}}</h1>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item *ngFor="let gn of LoadedFood.snacknames">
            {{gn}}
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>


  </ion-grid>


</ion-content>