<ion-header>
  <ion-toolbar>
    <ion-title>Desi Bites</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let food of foods">
      <ion-avatar slot="start">
        <ion-img [src]="food.imageUrl" [routerLink]="['./',food.id]"> </ion-img>
      </ion-avatar>
      <ion-label [routerLink]="['./',food.id]"> {{ food.title }} </ion-label>
      <ion-icon name="trash" slot="end" (click)="onDelete('food')"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>